* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

 body {
  min-height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: #ffffff;
}

.container {
  max-width: 350px;
  margin: 10rem auto;
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: block;
}

.container-main {
  background-color: #283e50;
}

.container-description {
  padding: 3.2rem 1.6rem;
}

h1 {
  margin-bottom: 1.8rem;
  font-family: "Lobster";
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
}

.container-btns {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn--green:link,
.btn--green:visited {
  background-color: #1fcca4;
}

.btn--green:hover,
.btn--green:active {
  background-color: #1cbb96;
}

.btn--green:focus {
  background-color: #1cbb96;
}

.btn--blue:link,
.btn--blue:visited {
  background-color: #0197f6;
}

.btn--blue:hover,
.btn--blue:active {
  background-color: #0090e9;
}

.btn--blue:focus {
  background-color: #0090e9;
}

/*Beginning of styling hra.html*/

.container-hra {
  max-width: 75vmin;
  margin: 3rem auto;
}

.h1-hra {
  font-size: 6rem;
}

.player {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image {
  width: 32px;
  height: 32px;
}

.hraje {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.home {
  background-color: #1fcca4;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 62px;
  height: 62px;

}

.restart {
  background-color: #0197f6;
  padding: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: 62px;
  height: 62px;
}

.container-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.container-hra {
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-wrap: wrap;
}


.button {
  width: 10%;
  border: 1px solid #000;
  background-color: #cbb9ce;
  cursor: pointer;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 5px;
}

.button:hover {
  background-color: #dfcfe0;
}

.button:focus {
  background-color: #dfcfe0;
}

.board__field--circle {
  background-image: url(image/circle-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.board__field--cross {
  background-image: url(image/cross-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
 
}

